:root {
    --lightBlue: #4D88FF;
    --blue: #1754AB;
    --darkBlue: #103A75;
    --primary: #ffcc00;
    --hoverPrimary: #FF6600;
    --textColorWhite: #fff;
    --textColorDark: #333;
    --textColorLight: #a3a3a3;
    --lightGray: #f4f4f4;

    // RGB Values for gradients
    --primaryRgb: 0, 123, 255;
    --blueRgb: 13, 110, 253;
    --redRgb: 220, 53, 69;
    --greenRgb: 25, 135, 84;
    --orangeRgb: 253, 126, 20;
    --purpleRgb: 111, 66, 193;
    --tealRgb: 32, 201, 151;
  }