:root {
    --lightBlue: #4D88FF;
    --blue: #1754AB;
    --darkBlue: #103A75;
    --primary: #ffcc00;
    --hoverPrimary: #FF6600;
    --textColorWhite: #fff;
    --textColorDark: #333;
    --textColorLight: #a3a3a3;
    --lightGray: #f4f4f4;
  }